header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5pc;
    background-color: #cd524a;
    padding: 0px 20px;
}

#menu-icon-content {
    /* visibility: hidden; */
    visibility: visible; 
}

#nav-bar {
    display: flex;
    gap: 10px;
    
}

#nav-bar a {
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    color: black;
}

#items-content {
    display: flex;
    gap: 40px;

}