header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5pc;
    background-color: #b9f75d;
    padding: 0px 20px;
}

/* #cd524a vermelho */

#menu-icon-content {
    /* visibility: hidden; */
    visibility: visible; 
}

#nav-bar {
    display: flex;
    gap: 15px;
    
}

#nav-bar a {
    text-decoration: none;
    transition: transform 0.3s;
    color: #8d25d5;
}

#nav-bar a:hover {
    transform: scale(1.2);
}

#items-content {
    display: flex;
    gap: 40px;

}