header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 5pc;
    background-color: #b9f75d;
    padding: 0px 20px;
    border-bottom: 2px solid #fa0bfe;
    box-shadow: 0px 4px 5px #fa0bfe;

}

/* #cd524a vermelho */

#menu-icon-content {
    /* visibility: hidden; */
    visibility: visible; 
}

#nav-bar {
    display: flex;
    gap: 10px;
    
}

#nav-bar a {
    text-decoration: none;
    transition: transform 0.3s;
}

#nav-bar a:hover {
    color: #fa0bfe;
    transform: scale(1.1);
}

#items-content {
    display: flex;
    gap: 40px;

}