footer {
  display: flex;
  flex-direction: column;
  background-color: #b9f75d;
  justify-content: space-between;
  height: 200px;
  padding-top: 30px;
}

h4 {
    display: flex;
    justify-content: center;
}

#anchors-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#media-content {
  display: flex;
  gap: 20px;
}

.media-icon {
  display: flex;
  text-decoration: none;
  position: relative;
  justify-content: center;
}

.media-icon p {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  position: absolute; 
  top: 100%;
         
  white-space: nowrap;
}

.media-icon:hover p {
  opacity: 1;
  visibility: visible;
  color: black;
}

#pageanchors-content {
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  gap: 15px;

}

#pageanchors-content a {
  text-decoration: none;
  transition: transform 0.3s;
  color: #8d25d5;
}

#pageanchors-content a:hover {
    transform: scale(1.2);
}