header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5pc;
  position: fixed;
  width: 100%;
  padding: 0 50px;
  z-index: 99;
}

.menuHidden {
  display: none;
  visibility: hidden;
}

.icon {
  width: 35px;
  height: 35px;
}

.navBar ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  list-style: none;
}

.navBar ul hr {
  display: none;
}

.anchor {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.3s;
}

.anchor:hover {
  transform: scale(1.2);
}

.logoNavbar {
  display: none;
}

.logo {
  width: 100%;
  max-width: 60px;
}

.itensContainer {
  display: flex;
  gap: 40px;
}

@media (max-width: 830px) {

  header {
    justify-content: space-between;
  }

  .navBar {
    display: none;
  }

  .logoContainer {
    display: none;
  }

  .menuHidden {
    display: flex;
    visibility: visible;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    transition: transform 0.5s ease;
  }

  .menuHidden.open {
    transform: rotate(90deg);
  }

  .navBar {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: left 0.5s ease-in-out;
    z-index: 1000;
    gap: 50px;
  }

  .navBar ul {
    display: grid;
    padding: 0 30px;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }

  .navBar.active {
    left: 0;
  }

  .navBar ul hr {
    display: flex;
    width: 100%;
    height: 1px;
    border: none;
  }

  .anchor {
    font-size: 1.2rem;
  }

  .logoNavbar {
    display: flex;
    max-width: 100px;
    margin-bottom: 20px;
  }
}

@media (max-height: 600px) {
  .navBar {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: left 0.5s ease-in-out;
    z-index: 1000;
    gap: 20px;
  }

  .navBar ul {
    display: grid;
    padding: 0 30px;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }

  .anchor {
    font-size: 1rem;
  }
}
