/* SOBRE */
.home {
    display: flex;
    flex-direction: column !important; 
    width: 100%;
}

/* .aboutContainer {
    background-color: #8d25d5;
} */

.aboutContainer h1 {
    margin-top: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.home > section {
    padding: 30px 50px;
    scroll-margin-top: 80px;
}

.imgTextContainer {
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

.imgTextContainer h2{
    color: #fff;
}

.imgAbout {
    width: 300px;
    border: 2px solid #b9f75d;
    border-radius: 10px;
}

#photo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.textAboutContainer h2 {
    display: flex;
    justify-content: center;
}

.paragraphAboutContainer {
    max-width: 500px;
    word-wrap: break-word;
    text-align: justify;
    color: #fff;
}

.keyWordAboutContent {
    color: #b9f75d;
    font-weight: bold;
}

/* FORMAÇÃO */
.formationContainer {
    display: flex;
    background-color: #b9f75d;
    flex-direction: column;
    align-items: center;
}

.cardsFormationContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #1c1c1c;
    gap: 60px;
}

/* CERTIFICADOS */
.certificatesContent {
    background-color: #8d25d5;
}

/* PROJETOS */
.projectsContainer {  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b9f75d;
}

/* TECNOLOGIAS */
.technologiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8d25d5;
    gap: 30px;
}

.iconsTechnologiesContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

}

@media (max-width: 770px) {
    .iconsTechnologiesContainer {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 630px) {
    .cardsFormationContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 413px) {
    .iconsTechnologiesContainer {
    grid-template-columns: repeat(2, 1fr);
    }
}