.swiper-wrapper {
  display: flex;
  align-items: center;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.text-side {
  max-width: 400px;
  word-wrap: break-word;
  color: #ffffff;
    
}

.text-side h2{
  text-align: center;
  padding-bottom: 30px;
}
  
.image-side img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.swiper-button-prev, .swiper-button-next  {
  color: #b9f75d !important;
}

@media (max-width: 1030px) {
  .slide-content {
    flex-direction: column-reverse; /* Texto embaixo da imagem no mobile */
    text-align: center;
  }
}