html, body {
  scrollbar-gutter: stable;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.text-side {
  max-width: 400px;
  word-wrap: break-word;
  color: #ffffff;
    
}

.text-side h2{
  padding-bottom: 30px;
}
  
.image-side img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.btn-certificates {
  color: black;
  background-color: #b9f75d;
  margin-top: 45px;
}

.swiper-button-prev, .swiper-button-next  {
  color: #b9f75d !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 44, 44, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 90%;
  height: 85vh;
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.close-button {
  position: fixed; /* Ele fica fixo na tela */
  top: 20px;
  right: 20px;
  background: #b9f75d; /* Vermelho para destaque, ou use a cor do seu tema */
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2000; /* Garante que fica acima de tudo */
  font-size: 16px;
  transition: transform 0.2s;
}

.close-button:hover {
  transform: scale(1.1);
  background: #baf75dd2;
}

/* Animação de entrada do fundo escuro */
.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

/* Animação de "crescimento" do conteúdo do modal */
.animate-scale-up {
  animation: scaleUp 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@media (max-width: 1030px) {
  .slide-content {
    flex-direction: column-reverse; /* Texto embaixo da imagem no mobile */
    text-align: center;
    gap: 50px;
  }

  .modal-content {
    width: 100%;
    height: 90vh;
    margin: 0;
    border-radius: 0;
  }

  .close-button {
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    font-size: 14px;
    z-index: 9999; /* Garante que fique acima de qualquer menu */
  }
}

@media (max-width: 550px) {
  .swiper-button-prev, .swiper-button-next  {
    visibility: hidden;
  }
}