.modal-overlay-projects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 44, 44, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.modal-content-project {
  background: rgba(44, 44, 44, 0.8);
  padding: 2rem;
  border-radius: 8px;
  color: white;
  width: 90%;
  height: 85vh;
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  overflow-y: auto;
  padding-right: 10px;
}

.image-slide-projetcs {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

.image-slide-projetcs img {
  width: 100%;
  max-width: 750px;
  border-radius: 8px;
}

#text-content-project {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#text-content-project h2 {
  text-align: center;
  margin-top: 30px;
  
}

#text-content-project p {
  width: 80%;
  word-wrap: break-word;
}