@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

main {
  width: 100vw;
  height: 100vw;
}

.purple {
  color: #8d25d5;
}

.green {
  color: #b9f75d;
}

.btn {
  width: fit-content;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;  
  cursor: pointer;
  transition: transform 0.3s;
  
}

.btn:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #b9f75d;
  border-radius: 10px;
  border: 3px solid #8d25d5; 
}